/* Add any custom styles here if needed */
body {
    padding-top: 20px;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: var(--bs-dark);
    border-radius: .3rem;
}
